# Ignore .NET build results
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore JSON mock data files
VendorPortal.Infrastructure/Mock/WolfApprove/v1/Data/*.json

# Ignore all bin folders
**/bin/
**/obj/